# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

utclarchiveorders.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
utclarchiveorders.application-context=utclarchiveorders-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.utclarchiveorders=classpath:/utclarchiveorders/web/spring/utclarchiveorders-web-spring.xml



utclarchiveorders.javascript.paths.responsive=/responsive/common/js/utclarchiveorders.js
utclarchiveorders.css.paths.responsive=/responsive/common/css/utclarchiveorders.css
